body {
	font-family: helvettica;
	background-color: darkgray;
	font-size: 20px;
    color: black;
}

h1 {
  color: white;
  text-align: center;
  font-family: arial;
  font-size:  65px;
  background-color: #101010;
  margin: 0px;
}

p {
  font-family: Times;
  color: black;
  font-size: 30px;
  text-indent: 20px;
  text-align: center;
}

div{
	font-family: arial;
  color: black;
  font-size: 20px;
  padding:  10px;
}

.div1{
  width: auto;
  border: 7px solid black;
  padding: 30px;
  margin: 20px;
  font-size: 40px;
  text-align: center;
  border-style: double;
  background-color: lightgrey;
}
.contact {
  width: 400px;
  height: 300px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  
}

.divMain {
	width: 25%; 
	text-align: center;
  color: black;
  margin: auto;
}
#list {
  text-align: center;
  margin: 10px;
  size: 30px;

}
