<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="#{stock.tracker}">StockTracker</title>
    <meta name="description" content="Stock trading website">
    <meta name="author" content="IFT401 Group 14">
    <link rel="stylesheet" href="./css/css.css">
</head>
<body>
    <h1 th:text="#{stock.tracker}">StockTracker</h1>
    <p></p>
    <div class="div1">
        <a th:href="@{/index}">Stocks</a> | <a th:href="@{/user}">User</a> | <a th:href="@{/administrator}">Administrator</a> | <a th:href="@{/account}">Account</a>
    </div>
    <p>Already have an account? <a th:href="@{/login}">Login here</a></p>
    <p>Account Creation Form</p>
    <form name="myForm" th:action="@{account/createAccount}" method="post" onsubmit="return validator()" th:object="${user}">
        <div class="divMain">
            <div class="divLabel">
                <label for="fname" class="title">First Name: </label>
            </div>
            <div class="divField">
                <input type="text" id="fname" name="fname" maxlength="30" th:field="*{FirstName}"><br>
            </div>
            <div class="divLabel">
                <label for="lname" class="title" >Last Name: </label>
            </div>
            <div class="divField">
                <input type="text" id="lname" name="lname" maxlength="30" th:field="*{LastName}"><br>
            </div>
            <div class="divLabel">
                <label for="email" class="title">Email Address:  </label>
            </div>
            <div class="divField">
                <input type="email" id="email" name="email" maxlength="50" th:field="*{EmailAddress}"><br>
            </div>
            <div class="divLabel">
                <label for="username" class="title">Username:  </label>
            </div>
            <div class="divField">
                <input type="text" id="username" name="username" maxlength="30" minlength="5" th:field="*{Username}"><br>
            </div>
            <div class="divLabel">
                <label for="password" class="title">Password:  </label>
            </div>
            <div class="divField">
                <input type="password" id="password" name="password" minlength="16" th:field="*{Password}">
                <button type="button" class="toggle-password" onclick="togglePasswordVisibility()">Show</button><br>
            </div>
            <div class="divButton">
                <input type="checkbox" name="checkbox" class="button" value="1" th:field="*{UserType}">   Administrator?
            </div>
            <br>
            <div class="divButton">
                <input type="submit" name="submit" class="button" value="Create Account">
            </div>
        </div>
    </form>
    <script src="./js/account_field_check.js"></script>
    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("password");
            var button = document.querySelector(".toggle-password");
            
            if (passwordField.type === "password") {
                passwordField.type = "text";
                button.textContent = "Hide";
            } else {
                passwordField.type = "password";
                button.textContent = "Show";
            }
        }
    </script>
</body>
</html>
