<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="#{stock.tracker}">StockTracker - Login</title>
    <meta name="description" content="Stock trading website">
    <meta name="author" content="IFT401 Group 14">
    <link rel="stylesheet" href="./css/css.css">
</head>
<body>
    <h1 th:text="#{stock.tracker}">StockTracker</h1>
    <p></p>
    <div class="div1">
        <a th:href="@{/index}">Stocks</a> | <a th:href="@{/user}">User</a> | <a th:href="@{/administrator}">Administrator</a> | <a th:href="@{/account}">Account</a>
    </div>
    <p th:text="#{login.form}">Login Form</p>
    <form name="loginForm" th:action="@{/login}" method="post">
        <div class="divMain">
            <div class="divLabel">
                <label for="loginUsername" class="title" th:text="#{username}">Username:  </label>
            </div>
            <div class="divField">
                <input type="text" id="loginUsername" name="loginUsername" maxlength="30" minlength="5"><br>
            </div>
            <div class="divLabel">
                <label for="loginPassword" class="title" th:text="#{password}">Password:  </label>
            </div>
            <div class="divField">
                <input type="password" id="loginPassword" name="loginPassword" minlength="16">
                <button type="button" class="toggle-password" onclick="togglePasswordVisibility()">Show</button><br>
            </div>
            <br>
            <div class="divButton">
                <input type="submit" name="loginSubmit" class="button" value="Login">
            </div>
        </div>
    </form>
    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("loginPassword");
            var button = document.querySelector(".toggle-password");
            
            if (passwordField.type === "password") {
                passwordField.type = "text";
                button.textContent = "Hide";
            } else {
                passwordField.type = "password";
                button.textContent = "Show";
            }
        }
    </script>
</body>
</html>
