<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>StockTracker - Login</title>
    <meta name="description" content="Stock trading website">
    <meta name="author" content="IFT401 Group 14">
    <link rel="stylesheet" th:href="@{/css/css.css}">
</head>
<body>
    <h1 >StockTracker</h1>
    <p></p>
    <div class="div1">
        <a th:href="@{/index}">Stocks</a> | <span th:if="${!#ctx.session.isEmpty()}"><a  th:href="@{/user}">User</a> | </span> <span th:if="${!#ctx.session.isEmpty() && session.user.userType == 1}"><a th:href="@{/administrator}">Administrator</a> | </span> <a th:href="@{/account}">Account</a>
    </div>
    <p >Login Form</p>
    <form name="loginForm" th:action="@{login/login}" method="post" th:object="${login}">
        <div class="divMain">
            <div class="divLabel">
                <label for="loginUsername" class="title">Username:  </label>
            </div>
            <div class="divField">
                <input type="text" id="loginUsername" name="loginUsername" maxlength="30" minlength="5" th:field="*{userName}"><br>
            </div>
            <div class="divLabel">
                <label for="loginPassword" class="title">Password:  </label>
            </div>
            <div class="divField">
                <input type="password" id="loginPassword" name="loginPassword" minlength="16" th:field="*{Password}"><br>
                <button type="button" class="toggle-password" onclick="togglePasswordVisibility()">Show</button><br>
            </div>
            <br>
            <button type="submit">Create Account</button>
        </div>
    </form>
    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("loginPassword");
            var button = document.querySelector(".toggle-password");

            if (passwordField.type === "password") {
                passwordField.type = "text";
                button.textContent = "Hide";
            } else {
                passwordField.type = "password";
                button.textContent = "Show";
            }
        }
    </script>
</body>
</html>
