<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>StockTracker - Make a Trade</title>
    <meta name="description" content="Stock trading website">
    <meta name="author" content="IFT401 Group 14">
    <link rel="stylesheet" th:href="@{/css/css.css}">
</head>
<body>
    <h1>StockTracker</h1>
    <p></p>
    <div class="div1">
        <a th:href="@{/index}">Stocks</a> | <span th:if="${!#ctx.session.isEmpty()}"><a  th:href="@{/user}">User</a> | </span> <span th:if="${!#ctx.session.isEmpty() && session.user.userType == 1}"><a th:href="@{/administrator}">Administrator</a> | </div> <a th:href="@{/account}">Account</a>
    </div>
    <p>User Functions</p>
    <p>Make a Trade</p>
    
    <form th:action="@{user/makeTrade}" method="post" th:object="${trade}">
        <label for="stockTicker">Stock Ticker:</label>
        <input type="text" id="stockTicker" name="stockTicker" required th:field="*{ticker}">

        <label for="numberOfShares">Number of Shares:</label>
        <input type="number" id="numberOfShares" name="numberOfShares" required th:field="*{amount}">

        <label for="tradeType">Trade Type:</label>
        <select id="tradeType" name="tradeType" required th:field="*{option}">
            <option value="buy">Buy</option>
            <option value="sell">Sell</option>
        </select>
        <p></p>

        <button type="submit" onclick="confirmTrade()">Submit Trade</button>
    </form>
    <script>
        function confirmTrade() {
            var result = confirm("Are you sure you want to make this trade?");
            // If user confirms, submit the form
            if (result) {
                document.getElementById("tradeForm").submit();
            }
        }
    </script>
</body>
</html
