<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>StockTracker - Manage Cash</title>
    <meta name="description" content="Stock trading website">
    <meta name="author" content="IFT401 Group 14">
    <link rel="stylesheet" href="./css/css.css">
</head>
<body>
    <h1>StockTracker</h1>
    <p></p>
    <div class="div1">
        <a th:href="@{/index}">Stocks</a> | <a th:href="@{/user}">User</a> | <a th:href="@{/administrator}">Administrator</a> | <a th:href="@{/account}">Account</a>
    </div>
    <p >User Functions</p>
    
    <h2>Manage Cash</h2>
    
    <!-- Display current balance, needs backend to display -->
    <p>Current Balance: [[${user.Balance}]] </p>

    <section>
        <h3>Deposit</h3>
        <form action="/processDeposit" method="post">
            <!-- needs backend to handle deposit -->
            <label for="depositAmount">Amount:</label>
            <input type="number" id="depositAmount" name="depositAmount" min="1" required th:field="newBalance">
            
            <!-- Add more if needed -->
            
            <button type="submit">Deposit</button>
        </form>
    </section>
    
    <section>
        <h3>Withdraw</h3>
        <form action="/processWithdraw" method="post">
            <!-- needs backend to handle withdraw -->
            <label for="withdrawAmount">Amount:</label>
            <input type="number" id="withdrawAmount" name="withdrawAmount" min="1" required>
            
            <!-- Add more if needed -->
            
            <button type="submit">Withdraw</button>
        </form>
    </section>

</body>
</html>

