<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>StockTracker - Manage Cash</title>
    <meta name="description" content="Stock trading website">
    <meta name="author" content="IFT401 Group 14">
    <link rel="stylesheet" th:href="@{/css/css.css}">
</head>
<body>
    <div>
        <h1>StockTracker</h1>
        <div th:if="${!#ctx.session.isEmpty()}">
            <a th:href="@{logout}" class="right">Logout</a>
        </div>
        <p></p>
    </div>
    <div class="div1">
        <a th:href="@{/index}">Stocks</a> | <span th:if="${!#ctx.session.isEmpty()}"><a  th:href="@{/user}">User</a> | </span> <span th:if="${!#ctx.session.isEmpty() && session.user.userType == 1}"><a th:href="@{/administrator}">Administrator</a> | </span> <a th:href="@{/account}">Account</a>
    </div>
    <p >User Functions</p>
    
    <h2>Manage Cash</h2>
    
    <!-- Display current balance, needs backend to display -->
    <p>Current Balance: [[${#numbers.formatDecimal(session.user.balance, 1, 'DEFAULT', 2, 'DEFAULT')}]] </p>

    <section>
        <h3>Deposit</h3>
        <form th:action="@{/user/processDeposit}" method="post">
            <!-- needs backend to handle deposit -->
            <label for="depositAmount">Amount:</label>
            <input type="number" id="depositAmount" name="depositAmount" min="1" required th:name="newBalance">
            
            <!-- Add more if needed -->
            
            <button type="submit">Deposit</button>
        </form>
    </section>
    
    <section>
        <h3>Withdraw</h3>
        <form th:action="@{/user/processWithdraw}" method="post">
            <!-- needs backend to handle withdraw -->
            <label for="withdrawAmount">Amount:</label>
            <input type="number" id="withdrawAmount" name="withdrawAmount" min="1" required th:name="withdrawBalance">
            
            <!-- Add more if needed -->
            
            <button type="submit">Withdraw</button>
        </form>
    </section>

</body>
</html>

