<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>StockTracker</title>
    <meta name="description" content="Stock trading website">
    <meta name="author" content="IFT401 Group 14">
    <link rel="stylesheet" th:href="@{/css/css.css}">
</head>
<body>
    <div>
        <h1>StockTracker</h1>
        <div th:if="${!#ctx.session.isEmpty()}">
            <a th:href="@{login/logout}" class="right">Logout</a>
        </div>
        <p></p>
    </div>
    <div class="div1">
        <a th:href="@{/index}">Stocks</a> | <span th:if="${!#ctx.session.isEmpty()}"><a  th:href="@{/user}">User</a> | </span> <span th:if="${!#ctx.session.isEmpty() && session.user.userType == 1}"><a th:href="@{/administrator}">Administrator</a> | </span> <a th:href="@{/account}">Account</a>
    </div>
    <p>User Functions</p>
    <p>What would you like to do?</p>
    <p><a th:href="@{/user/managecash}">Manage Cash</a></p>
    <p><a th:href="@{/user/viewusertradinghistory}">View Trading History</a></p>
    <p><a th:href="@{/user/makeatrade}">Make a Trade</a></p>
        <h2> Current Portfolio</h2>
    <table id="userPortfolio">
        <thead>
            <tr>
                <th>Stock Symbol</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="stock : ${portfolio}">
                <td th:text="${stock.symbol}"></td>
                <td th:text="${stock.quantity}"></td>
                <td th:text="${stock.price}"></td>
                <td th:text="${stock.quantity * stock.price}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
