<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>StockTracker - View Trading History</title>
    <meta name="description" content="Stock trading website">
    <meta name="author" content="IFT401 Group 14">
    <link rel="stylesheet" th:href="@{/css/css.css}">
</head>
<body>
    <h1>StockTracker</h1>
    <p></p>
    <div class="div1">
        <a th:href="@{/index}">Stocks</a> | <a th:href="@{/user}">User</a> | <a th:href="@{/administrator}">Administrator</a> | <a th:href="@{/account}">Account</a>
    </div>
    <p>User Functions</p>
    <p>View Trading History Page Content</p>
    <!-- Add content for viewing trading history here -->
</body>
</html>
